#overlay-button {
    border: 1px solid rgba(0, 55, 255, 0.962);
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    padding: 5px 10px 10px;
    font-size: 8px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

.admin-top{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.admin-list{
    text-align: center;
    margin-top: 50px;
}

.admin-item{
    font-size: 30px;
    color: rgba(0, 55, 255, 0.962);
    font-weight: bold;
    line-height: 3em;
    text-decoration: none;
}

.header-nav__button{
    color: rgba(0, 55, 255, 0.962);
    font-size: 30px;
    font-weight: bold;
    line-height: 3em;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .admin-top {
        font-size: 25px;
    }

    .admin-item {
        font-size: 25px;
    }
}