@keyframes overlayFadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#overlay-button {
    border: 1px solid rgba(0, 55, 255, 0.962);
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    padding: 5px 10px 10px;
    font-size: 8px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

#close-button {
    border: 1px solid rgba(0, 55, 255, 0.962);
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1em;
    position: absolute;
    left: 2em;
    top: 3em;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

#overlay-button:hover {
    background-color: #ddd;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~#overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    animation: overlayFadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

input[type=checkbox]:checked~#overlay-button {
    display: none;
}

input[type=checkbox]:checked~#overlay #close-button {
    display: block;
}

#overlay {
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
}

#overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
}

#overlay ul li {
    padding: 1em;
    color: rgba(0, 55, 255, 0.962);
}

#overlay ul li a {
    color: rgba(0, 55, 255, 0.962);
    text-decoration: none;
    font-size: 1.5em;
}

.thanks {
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0 auto;
    padding: 50px 0;
}

.thanks-text {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    border: 1px solid rgba(0, 55, 255, 0.962);
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .thanks {
        width: 70%;
    }
}