.img-fluid {
    max-width: 100%;
    height: auto;
}

.header-nav__button {
    color: rgba(0, 55, 255, 0.962);
    text-decoration: none;
    font-size: 1.5em;
}

@keyframes overlayFadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#overlay-button {
    border: 1px solid rgba(0, 55, 255, 0.962);
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    padding: 5px 10px 10px;
    font-size: 8px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

#close-button {
    border: 1px solid rgba(0, 55, 255, 0.962);
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1em;
    position: absolute;
    left: 2em;
    top: 3em;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

#overlay-button:hover {
    background-color: #ddd;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~#overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    animation: overlayFadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

input[type=checkbox]:checked~#overlay-button {
    display: none;
}

input[type=checkbox]:checked~#overlay #close-button {
    display: block;
}

#overlay {
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
}

#overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
}

#overlay ul li {
    padding: 1em;
    color: rgba(0, 55, 255, 0.962);
}

#overlay ul li a {
    color: rgba(0, 55, 255, 0.962);
    text-decoration: none;
    font-size: 1.5em;
}

.visit-history_top{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.reservation-card_body {
    border: 1px solid rgba(0, 55, 255, 0.962);
    color: white;
    background-color: rgba(0, 55, 255, 0.962);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    height: auto;
    width:30%;
}

.visit-history{
    padding: 0 100px;
}

.btn-comment{
    border: 1px solid red;
    background-color: red;
    color: #FFF;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.popup-checkbox {
    margin: 50px 0;
}

.popup-checkbox:checked+.popup {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.popup {
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
    padding:150px 100px;
}

.popup-close {
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 50px;
}

.star-rating {
    display: flex;
    justify-content: left;
    margin: 10px 0;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #FFD700;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #FFD700;
}

.star-rating input:checked~label {
    color: #FFD700;
}

.star-rating input:checked~input~label {
    color: #FFD700;
}

.star-rating input:checked~label~label {
    color: #ddd;
}

textarea {
    width: 60%;
    height: 100px;
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
}

.btn-submit {
    background-color: rgba(0, 55, 255, 0.962);
    color: #FFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn-submit:hover {
    background-color: #ddd;
}

@media screen and (max-width: 768px){
    .reservation-card_body{
        width:70%;
    }
}